.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: linear-gradient(135deg, #4f46e5, #3b82f6);
  color: white;
  height: 1rem;
  top: 0;

  .logo {
    display: flex;
    flex-direction: row;  
     

    .nav-title {
      font-size: 1.5rem;
      font-weight: bold;
      margin-top: 2rem;  
      
    }
    .inline-logo {
       font-weight: bold;
       
         }
  }


  .nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;

    li {
      a {
        color: white;
        text-decoration: none;
        font-size: 1rem;
        transition: color 0.3s;

        &:hover {
          color: #fbbf24; // yellow on hover
        }
      }
    }
  }
}